<!DOCTYPE html>
<html>
  <head>
    <title>Covid Data Dashboard</title>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
    <!-- responsive meta tag for bootstrap - optimise code for mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Scripts-->
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <!--Navigation-->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">The Covid Project</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="home">Home</a>
        <a class="p-2 text-dark" href="data">Data</a>
        <a class="p-2 text-dark" href="about">About</a>
      </nav>
    </div>
    <div class="container">  
      {% block content %}{% endblock %}
    </div>
    <div class="container">
      <!-- Links -->
      <div class="row justify-content-center text-center pt-2">
        <div class="col">
          <!-- Github Link -->
          <a href="https://github.com/abditimer">
            <img src="/static/img/githublogo.png" class="img-fluid" alt="Github Logo" style="width:4.5%">
          </a>
          <!-- Linkedin Link -->
          <a href="https://www.linkedin.com/in/abditimer/">
              <img src="/static/img/linkedinlogo.png" class="img-fluid" alt="linkedIn logo" style="width:5%">
          </a>
        </div>
        <div class="container-fluid">
            <p class="font-weight-lighter">Created by Abdi Timer.</p>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      // charts for home page
      var figures = {{ figuresJSON_home | safe }};
      var ids = {{ ids | safe }};
      Plotly.plot(
        ids[i],
        figures[i].data,
        figures[i].layout || {}
      );
      // charts on data page
      // var figures_p2 = {{ figuresJSON_about | safe }};
      // var ids_p2 = {{ ids_p2 | safe }};
      // for ( var i in figures ) {
      //     Plotly.plot(
      //       ids_p2[0],
      //       figures_p2[0].data,
      //       figures_p2[0].layout || {}
      //     );
      // }
    </script>
    <!-- JS Components for Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>