{% extends "base.html" %}
{% block content %}
<!--First Explaination Section-->
<div class='row-2'>
    <h1>The Data Page.</h1>
    <p>Some placeholder text about how cool this whole website is. This will
        need to be changed in the near future as this is not what I wanted displayed on this site.
    </p>
</div>
<!-- Chart 1 Section -->
<div class='row-2'>
    <h2>Deaths by Age</h2>
</div>
<div class='row-6'>
    <!-- Chart goes here -->
</div>
<div class='row-4'>
    <p>Some explanation text about the above chart.</p>
</div>
<!-- Chart 2 Section -->

{% endblock %}