{% extends "base.html" %}
{% block content %}
<div class="row">
    
        <!-- Chart 1 -->
        <div class="row-12 justify-content-center align-items-center ">
            <!-- graph 1 -->
            <div class="col-8 card">
                <div class="card">
                    <div id="{{ ids[0] }}"></div>
                </div>
            </div>
            <!-- graph 1s info-->
            <div class="col-4 justify-content-center align-items-center">
                    <div class="card-body text-dark">
                    <h5 class="card-title">Total Deaths in the UK</h5>
                    <p class="card-text">This shows hjsdfhsaljkfhdsaj dsf hdsajl fhsadljf hsjadfhsdjk hflasdjf hsjafhsaf hsakljdfh lsdf.</p>
                    </div>
                
            </div>
        </div>
    
</div>
<div class="row">
    <div class="card mb-3">
        <!-- Chart 2 -->
        <div class="row justify-content-center align-items-center">
            <!-- graph 1 -->
            <div class="col-8 py-3 my-3">
                <div id="{{ ids[1] }}"></div>
            </div>
            <!-- graph 1s info-->
            <div class="col-4 justify-content-center align-items-center">
                <div class="card-body text-dark">
                    <div class="card-body text-dark">
                    <h5 class="card-title">Total deaths by Age Group</h5>
                    <p class="card-text">This jskdfsdjf sdjf sladjkfbskh fsdbfsldkj skfb sjkfsdjk fsdlkjf baks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}